/* MAIN EXPENSE */
.expenseTitle {
  display: block;
  text-align: left;

  font-size: 28px;
  color: var(--expense-title);
}

.expenseInfo {
  display: block;
  text-align: left;

  font-size: 18px;
  color: var(--expense-info);
}

.expenseIcon {
  font-size: 28px;
  color: var(--expenseIconColorPrev, var(--menu-icon-color));
}

/* NEW EXPENSE */

.iconExpenseLabel {
  display: block;

  text-align: center;
  font-size: 18px;

  color: var(--expense-detail);
}

.expenseIconList {
  font-size: 50px;
  color: var(--expenseIconColor, #ffffff);
}
.expenseIconList:active {
  background-color: var(--color-2);
}

.list-item__expandable-content {
  padding: 0px 0px 16px 0px;
}

.list-item.expanded > .list-item__expandable-content {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  text-align: center;
}

/* DETAIL EXPENSE */

.labelDetailExpense {
  display: block;
  padding-top: 16px;
  color: var(--expense-detail);

  font-size: 14px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

.labelInfoDetailExpense {
  font-weight: bold;
  color: var(--expense-detail-money);
  font-size: 30px;
}
