.list-item--material {
  padding: 0px;
}
.list-item--material__center {
  padding-right: 0px;
}
.list-item--material:first-child {
  box-shadow: none;
  margin-top: 16px;
}

.menuItem {
  background: none;
}

.menuList {
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
}

.menuIcon {
  /*text-align: center;*/
  font-size: 35px;
  margin-left: 32px;
  margin-right: 32px;
  display: block;
}

.iconHome {
  color: var(--icon-home);
}

.iconGoals {
  color: var(--icon-goals);
}

.iconSavings {
  color: var(--icon-savings);
}

.iconExpenses {
  color: var(--icon-expenses);
}

.iconMoney {
  color: var(--icon-money);
}

.iconConfiguration {
  color: var(--icon-config);
}

.labelMenu {
  margin-right: auto;

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;

  color: var(--menu-font-color);
}
