.moneyTitle {
  display: block;
  text-align: left;

  font-size: 28px;
  color: var(--money-title);
}

.moneyInfo {
  text-align: center;
  padding-bottom: 16px;
  font-size: 50px;
  font-weight: 500;
  color: var(--money-info);
}

.moneyButtonAdd {
  background: var(--flat-button-color);
  color: var(--flat-button-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}
.moneyButtonAdd:active {
  background: var(--flat-button-active-color);
}

.moneyButtonRe {
  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}
.moneyButtonRe:active {
  background: var(--flat-button-light-active-color);
}

.moneyButtonDe {
  background: var(--money-delete-button);
  color: var(--flat-button-light-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}
.moneyButtonDe:active {
  background: var(--flat-button-light-active-color);
}
