.mainTitle {
  text-align: center;

  font-size: 20px;
  font-weight: normal;
  color: var(--saving-main-title);
}

.savingInfo {
  text-align: center;
  display: block;

  font-size: 38px;
  font-weight: bold;
  color: var(--saving-info);
}

.savingTitle {
  text-align: center;

  font-size: 38px;
  font-weight: normal;
  color: var(--saving-title);
}

.savingDaily {
  text-align: center;
  display: block;
  font-size: 80px;
  font-weight: bold;
  color: var(--saving-daily);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.daysTitle {
  text-align: center;
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: normal;
  color: var(--saving-days-title);
}

.leftDays {
  font-size: 20px;
  font-weight: bold;
  color: var(--saving-days-left);
}

/* SAVING DETAIL */
.labelRange {
  font-size: 26px;
  color: var(--saving-edit-label-range);
}

.labelRangeLess {
  font-size: 20px;
  color: var(--saving-edit-label-range);
}

.selectedText {
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--saving-edit-range-selected);
  margin-bottom: -16px;
}

.selectedRange {
  color: var(--saving-edit-selected-range);
  font-weight: bold;
}

.entryAmountText {
  display: block;
  text-align: left;
  font-size: 14px;
  color: var(--entry-amount-text);
}

.entryAmountDetail {
  color: var(--entry-amount-detail);
  font-weight: bold;
  font-size: 30px;
}
