.listConfiguration {
  padding-right: 16px;
  padding-left: 16px;
  background: none;
}

.itemListConfiguration {
  font-size: 20px;
  font-weight: 500;
  color: var(--item-list-config);
}

/* CHEVRON DE LOS ELEMENTOS EN LA CONFIGURACIÓN */
.list-item--chevron::before,
.list-item__expand-chevron {
  display: block;
  border-right: 2px solid var(--chevron-color);
  border-bottom: 2px solid var(--chevron-color);
}

.themeDefault {
  background: url('../assets/images/themeDefault.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.themeDark {
  /* 162447 - 1f4068 - 1b1b2f - e43f5a - fffcf2 */
  background: url('../assets/images/themeDark.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.tutorialLabel {
  display: block;

  margin-bottom: -16px;

  font-size: 18px;
  font-weight: 100;
  color: var(--text-without-card);
  text-align: center;
}
