.listConfiguration {
  background: none;
  padding-right: 16px;
  padding-left: 16px;
}

.itemListConfiguration {
  color: var(--item-list-config);
  font-size: 20px;
  font-weight: 500;
}

/*CHEVRON DE LOS ELEMENTOS EN LA CONFIGURACIÓN*/
.list-item--chevron:before,
.list-item__expand-chevron {
  border-right: 4px solid var(--chevron-color);
  border-bottom: 4px solid var(--chevron-color);
  display: block;
}

.themeDefault {
  background: url('../assets/images/themeDefault.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeDark {
  /* 162447 - 1f4068 - 1b1b2f - e43f5a - fffcf2 */
  background: url('../assets/images/themeDark.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeLight {
  /*#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff*/
  background: url('../assets/images/themeLight.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeYuri {
  /*#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff*/
  /*background: url("../assets/images/themeYuri.png");*/
  background: url('../assets/images/themeYuri.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themePink {
  /*#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff*/
  /*background: url("../assets/images/themeYuri.png");*/
  background: url('../assets/images/themePink.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeCustom {
  /*#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff*/
  /*background: url("../assets/images/themeYuri.png");*/
  background: url('../assets/images/themeCustom.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.tutorialLabel {
  text-align: center;
  display: block;
  font-size: 18px;
  color: var(--text-without-card);
  font-weight: 100;
  margin-bottom: -16px;
}
