.goalInfo {
  margin-top: 16px;
  display: flex;
  align-items: center;

  color: var(--goal-info-color);
}

.goalIcon {
  display: inline-block;
  color: var(--goal-icon-color);

}

.goalCard {
  min-height: 107px;
  
  margin: 16px 20px 0px 20px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(112, 144, 176, 0.2);
}

.goalTitle {
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
  color: var(--goal-title-color);
}

.goalDate {
  position: absolute;
  right: 36px;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 500;
}

.detailTitle {
  font-size: 24px;
  color: var(--detail-goal-title-color);
  text-align: center;
}

.detailInfo {
  color: var(--detail-goal-content-color);
  font-weight: normal;
  font-size: 16px;
}

.percentDetailTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 50px;
  text-align: center;
}

.percentBar {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.progressBarContainer {
  background-color: var(--progressbar-back-color);
  border-radius: 10px;
  padding: 0px;
  margin-top: 16px;
}

.progressBarPercent {
  background-color: var(--progressbar-main-color);
  width: calc(var(--width, 0) * 1%);
  min-width: 10px;
  max-width: calc(100% - 1px);
  height: 3px;
  border-radius: 10px;
}

.moneyDetailGoal {
  font-size: 20px;
  color: var(--detail-goal-title-color);
  max-width: 250px;
}

.buttonContainer {
  width: 100%;
  top: auto;
  bottom: 20px;
  right: auto;
  left: auto;
  position: absolute;
}

.gradientButton {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 4px;
  background: white;
  box-shadow: none;
}

.gradientButton:hover {
  border: 2px solid var(--goal-info-color);
}
