.goalInfo {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: var(--goal-info-color);
}

.goalIcon {
  display: inline-block;
  color: var(--goal-icon-color);
}

.goalCard {
  min-height: 107px;
  margin: 16px 20px 0;
  padding: 16px;

  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgb(112 144 176 / 20%);
}

.goalTitle {
  overflow: hidden;

  width: 160px;
  margin-left: 16px;

  font-size: 16px;
  font-weight: 600;
  color: var(--goal-title-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.goalDate {
  position: absolute;
  right: 36px;

  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
}

.detailTitle {
  font-size: 24px;
  color: var(--detail-goal-title-color);
  text-align: center;
}

.detailInfo {
  font-size: 16px;
  font-weight: normal;
  color: var(--detail-goal-content-color);
}

.percentDetailTitle {
  display: block;

  margin-right: auto;
  margin-left: auto;

  font-size: 50px;
  text-align: center;
}

.percentBar {
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.progressBarContainer {
  margin-top: 16px;
  padding: 0;
  background-color: var(--progressbar-back-color);
  border-radius: 10px;
}

.progressBarPercent {
  width: calc(var(--width, 0) * 1%);
  min-width: 10px;
  max-width: calc(100% - 1px);
  height: 3px;

  background-color: var(--progressbar-main-color);
  border-radius: 10px;
}

.moneyDetailGoal {
  max-width: 250px;
  font-size: 20px;
  color: var(--detail-goal-title-color);
}

.buttonContainer {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.gradientButton {
  width: 40px;
  height: 40px;
  margin: 4px;

  background: white;
  border-radius: 50px;
  box-shadow: none;
}

.gradientButton:hover,
.gradientButton:focus {
  border: 2px solid var(--goal-info-color);
}
