.cardHomeTitle {
  display: block;
  margin: 16px auto 0px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-without-card);
}

.totalMoneyTitle {
  text-align: center;
  padding-bottom: 16px;
  font-size: 50px;
  font-weight: 500;
  color: var(--home-total-money);
}

/*SIN USO*/
.homeExpenseLabel {
  display: block;
  padding-top: 16px;
  text-align: left;
  font-size: 28px;
  color: var(--text-color-4);
  font-weight: 500;
}

.homeGoalLabel {
  display: block;
  padding-top: 16px;
  margin-bottom: -10px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: var(--home-goal-label);
}

.paraHome {
  display: block;
  text-align: center;
  color: var(--para-home-options);
  margin: 16px;
  font-size: 20px;
  font-weight: normal;
}

.paraTutorial {
  display: block;
  text-align: center;
  color: var(--card-content-text-color);
  margin: 16px;
  font-size: 20px;
  font-weight: normal;
}

.listLabels {
  font-size: 18px;
  color: var(--home-options-labels);
  font-weight: normal;
}

:checked + .switch--material__toggle {
  background-color: var(--switch-back-on);
}

.switch--material__handle {
  background-color: var(--switch-button-round);
}

:checked + .switch--material__toggle > .switch--material__handle {
  background-color: var(--switch-button-round);
}

.switch--material__toggle {
  background-color: var(--switch-back-off);
}
