.moneyTitle {
  display: block;
  text-align: left;

  font-size: 28px;
  color: var(--money-title);
}

.moneyInfo {
  text-align: center;
  padding-bottom: 16px;
  font-size: 50px;
  font-weight: 500;
  color: var(--money-info);
}

.moneyButtonAdd {
  background: var(--flat-button-color);
  color: var(--flat-button-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  font-family: PoppinsFont, Roboto, Noto, 'sans-serif';
}

.moneyButtonAdd:active {
  background: var(--flat-button-active-color);
}

.moneyButtonRe {
  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  font-family: PoppinsFont, Roboto, Noto, 'sans-serif';
}
.moneyButtonRe:active {
  background: var(--flat-button-light-active-color);
}

.moneyButtonDe {
  background: var(--money-delete-button);
  color: var(--flat-button-light-color-text);
  box-shadow: none;
  margin: 0px 0px 0px 16px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  border: 1px solid var(--text-area-border-color);
  font-family: PoppinsFont, Roboto, Noto, 'sans-serif';
}
.moneyButtonDe:active {
  background: var(--flat-button-light-active-color);
}

.cover-label {
  text-align: center;
  width: 100%;
  color: var(--money-info);
  font-size: 26px;
  margin-top: -20px;
  margin-bottom: 16px;
}


.moneyCard {
  background: linear-gradient(90deg, #C3DBF3 0%, #E2DCEF 100%);
  box-shadow: 0px 2px 4px 0px rgb(112 144 176 / 20%);
  padding: 16px 16px 0px 16px; 
  border-radius: 10px;
  margin-bottom: 32px;
}