.moneyTitle {
  display: block;
  color: var(--money-title);
  font-size: 28px;
  text-align: left;
}

.moneyInfo {
  padding-bottom: 16px;
  color: var(--money-info);
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.moneyButtonAdd {
  border-radius: 10px;
  margin: 0 0 0 16px;
  background: var(--mini-button-back);
  box-shadow: none;
  color: var(--mini-button-font);
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 14px;
  text-align: center;
}

.moneyButtonAdd:active {
  background: var(--flat-button-active-color);
}

.moneyButtonRe {
  border-radius: 10px;
  margin: 0 0 0 16px;
  background: var(--flat-button-light-color);
  box-shadow: none;
  color: var(--flat-button-light-color-text);
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 14px;
  text-align: center;
}

.moneyButtonRe:active {
  background: var(--flat-button-light-active-color);
}

.moneyButtonDe {
  border: 1px solid var(--text-area-border-color);
  border-radius: 10px;
  margin: 0 0 0 16px;
  background: var(--mini-button-light-back);
  box-shadow: none;
  color: var(--mini-button-light-font);
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 14px;
  text-align: center;
}

.moneyButtonDe:active {
  background: var(--flat-button-light-active-color);
}

.cover-label {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 16px;
  color: var(--money-dots);
  font-size: 26px;
  text-align: center;
}

.moneyCard {
  padding: 16px 16px 0;
  border-radius: 10px;
  margin-bottom: 32px;
  box-shadow: 0 2px 4px 0 rgb(112 144 176 / 20%);
}
