.mainTitle {
  color: var(--saving-main-title);

  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

.savingInfo {
  display: block;
  color: var(--saving-info);

  font-size: 38px;
  font-weight: bold;
  text-align: left;
}

.savingTitle {
  color: var(--saving-title);

  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.savingDaily {
  display: block;
  overflow: hidden;
  color: var(--saving-daily);
  font-size: clamp(1rem, 16vw, 15rem);
  font-weight: bold;
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
}

.daysTitle {
  margin-bottom: 16px;
  color: var(--saving-days-title);

  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.leftDays {
  color: var(--saving-days-left);
  font-size: 20px;
  font-weight: bold;
}

/* SAVING DETAIL */
.labelRange {
  color: var(--saving-edit-label-range);
  font-size: 26px;
}

.labelRangeLess {
  color: var(--saving-edit-label-range);
  font-size: 20px;
}

.selectedText {
  display: block;
  margin-bottom: -16px;
  color: var(--saving-edit-range-selected);
  font-size: 14px;
  text-align: center;
}

.selectedRange {
  color: var(--saving-edit-selected-range);
  font-weight: bold;
}

.entryAmountText {
  display: block;
  margin-bottom: 16px;
  color: var(--entry-amount-text);
  font-size: 14px;
  text-align: left;
}

.entryAmountDetail {
  color: var(--entry-amount-detail);
  font-size: 30px;
  font-weight: bold;
}
