.mainTitle {
  font-size: 20px;
  font-weight: normal;
  color: var(--saving-main-title);
  text-align: left;
}

.savingInfo {
  display: block;

  font-size: 38px;
  font-weight: bold;
  color: var(--saving-info);
  text-align: left;
}

.savingTitle {
  font-size: 20px;
  font-weight: normal;
  color: var(--saving-title);
  text-align: center;
}

.savingDaily {
  overflow: hidden;
  display: block;

  font-size: clamp(1rem, 16vw, 15rem);
  font-weight: bold;
  color: var(--saving-daily);
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
}

.daysTitle {
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: normal;
  color: var(--saving-days-title);
  text-align: center;
}

.leftDays {
  font-size: 20px;
  font-weight: bold;
  color: var(--saving-days-left);
}

/* SAVING DETAIL */
.labelRange {
  font-size: 26px;
  color: var(--saving-edit-label-range);
}

.labelRangeLess {
  font-size: 20px;
  color: var(--saving-edit-label-range);
}

.selectedText {
  display: block;

  margin-bottom: -16px;

  font-size: 14px;
  color: var(--saving-edit-range-selected);
  text-align: center;
}

.selectedRange {
  font-weight: bold;
  color: var(--saving-edit-selected-range);
}

.entryAmountText {
  display: block;

  margin-bottom: 16px;

  font-size: 14px;
  color: var(--entry-amount-text);
  text-align: left;
}

.entryAmountDetail {
  font-size: 30px;
  font-weight: bold;
  color: var(--entry-amount-detail);
}
