/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
@font-face {
  font-family: PoppinsFont;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/normal/Poppins-Regular.ttf') format('truetype'),
    url('../assets/fonts/normal/poppins-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/normal/poppins-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: PoppinsFont;
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/light/Poppins-Light.ttf') format('truetype'),
    url('../assets/fonts/light/poppins-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/light/poppins-light-webfont.woff') format('woff');
}

@font-face {
  font-family: PoppinsFont;
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/bold/Poppins-Bold.ttf') format('truetype'),
    url('../assets/fonts/bold/poppins-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/bold/poppins-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: PoppinsFont;
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/semiBold/poppins-semibold-webfont.woff') format('truetype'),
    url('../assets/fonts/semiBold/poppins-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/semiBold/poppins-semibold-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
}

.theme-default {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #fff;

  /* DEGRADADOS SELECCIONABLES */
  --gradient_0: linear-gradient(90deg, #bfdff8 0%, #f4dcf5 100%);
  --gradient_1: linear-gradient(90deg, #e1f0e1 0%, #aadfda 100%);
  --gradient_2: linear-gradient(90deg, #b3dbf1 0%, #beedf5 100%);
  --gradient_3: linear-gradient(90deg, #f6e6cf 0%, #f3ccc4 100%);
  --gradient_4: linear-gradient(90deg, #ff8abe 0%, #fce9d0 100%);
  --gradient_5: linear-gradient(90deg, #96c1dc 0%, #d9d4ed 100%);
  --gradient_6: linear-gradient(90deg, #74f2ce 0%, #7cffcb 100%);
  --gradient_7: linear-gradient(90deg, #7ee8fa 0%, #eec0c6 100%);
  --gradient_8: linear-gradient(90deg, #b0f3f1 0%, #ffcfdf 100%);
  --gradient_9: linear-gradient(90deg, #fb8085 0%, #f9c1b1 100%);

  /* DEGRADADO */
  --gradient-1: #fff;
  --gradient-2: #fff;

  /* SPINNER ONLOAD PAGE */
  --spiner-back-color: #e5e7ed;
  --spiner-front-color: #272443;

  /* ICONOS MENÚ & TEXTO MENU */
  --icon-holder: none;
  --menu-icon-color: #272443;
  --menu-font-color: #272443;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #272443;
  --back-button-color: #272443;
  --menu-button-color: #272443;

  /* CHEVRON */
  --chevron-color: #272443;

  /* TEXTOS */
  --item-list-config: #68667b;
  --text-without-card: #272443;
  --text-without-card-balance: #68667b;
  --expense-title: #272443;
  --expense-info: #68667b;
  --expense-detail: #68667b;
  --expense-detail-money: #272443;
  --detail-goal-title-color: #272443;
  --detail-goal-content-color: #272443;
  --detail-money-goal: #272443;
  --goal-title-color: #272443;
  --goal-money-color: #272443;
  --goal-icon-color: #272443;
  --goal-info-color: #272443;
  --home-total-money: #272443;
  --home-goal-label: #68667b;
  --para-home-options: #68667b;
  --home-options-labels: #68667b;
  --money-title: #68667b;
  --money-info: #272443;
  --money-dots: #272443;
  --saving-main-title: #68667b;
  --saving-info: #272443;
  --saving-title: #68667b;
  --saving-daily: #272443;
  --saving-days-title: #68667b;
  --saving-days-left: #272443;
  --saving-edit-label-range: #68667b;
  --saving-edit-range-selected: #68667b;
  --saving-edit-selected-range: #272443;
  --entry-amount-text: #68667b;
  --entry-amount-detail: #272443;

  /* SWITCH */
  --switch-button-round: #272443;
  --switch-back-off: #e5e7ed;
  --switch-back-on: #68667b;

  /* INPUT */
  --color-input: #e5e7ed;
  --color-input-text: #272443;
  --color-input-label: #272443;
  --color-input-option-back: #e5e7ed;
  --color-input-option-font: #272443;

  /* TEXT AREA */
  --text-area-border-color: #272443;
  --text-area-text-color: #272443;

  /* ALERT DIALOG */
  --alert-tile-color: #272443;
  --alert-container-color: #fff;
  --alert-footer-color: #272443;
  --alert-content-text-color: #272443;
  --alert-button-color-text: #fff;
  --alert-custom-label: #68667b;
  --alert-custom-label-money: #272443;

  /* TOAST */
  --toast-back-color: #272443;
  --toast-message-color: #fff;

  /* PROGRESSBAR */
  --progressbar-back-color: #68667b;
  --progressbar-main-color: #272443;

  /* CARDS */
  --card-back-color: #fff;
  --card-text-title-color: #272443;
  --card-content-text-color: #272443;
  --card-border-color: #e5e7ed;

  /* BUTTONS */
  --flat-button-color: #272443;
  --flat-button-color-text: #fff;
  --flat-button-active-color: #272443;
  --flat-button-light-color: #fff;
  --flat-button-light-color-text: #272443;
  --flat-button-light-active-color: #05565f;
  --fab-button: #272443;
  --fab-button-text: #f3f3f3;
  --mini-button-back: #272443;
  --mini-button-font: #f3f3f3;
  --mini-button-light-back: #272443;
  --mini-button-light-font: #272443;
}

.theme-dark {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #fff;

  /* DEGRADADOS SELECCIONABLES */
  --gradient_0: linear-gradient(90deg, #bfdff8 0%, #f4dcf5 100%);
  --gradient_1: linear-gradient(90deg, #e1f0e1 0%, #aadfda 100%);
  --gradient_2: linear-gradient(90deg, #b3dbf1 0%, #beedf5 100%);
  --gradient_3: linear-gradient(90deg, #f6e6cf 0%, #f3ccc4 100%);
  --gradient_4: linear-gradient(90deg, #ff8abe 0%, #fce9d0 100%);
  --gradient_5: linear-gradient(90deg, #96c1dc 0%, #d9d4ed 100%);
  --gradient_6: linear-gradient(90deg, #74f2ce 0%, #7cffcb 100%);
  --gradient_7: linear-gradient(90deg, #7ee8fa 0%, #eec0c6 100%);
  --gradient_8: linear-gradient(90deg, #b0f3f1 0%, #ffcfdf 100%);
  --gradient_9: linear-gradient(90deg, #fb8085 0%, #f9c1b1 100%);

  /* DEGRADADO */
  --gradient-1: #1a191e;
  --gradient-2: #1a191e;

  /* SPINNER ONLOAD PAGE */
  --spiner-back-color: #2a292e;
  --spiner-front-color: #cdeaf7;

  /* ICONOS MENÚ & TEXTO MENU */

  --icon-holder: none;
  --menu-icon-color: #78787a;
  --menu-font-color: #f3f3f3;

  /* TOOLBAR */
  --toolbar-color: #1a191e;
  --label-toolbar-color: #f3f3f3;
  --back-button-color: #78787a;
  --menu-button-color: #78787a;

  /* CHEVRON */
  --chevron-color: #78787a;

  /* TEXTOS */
  --item-list-config: #f3f3f3;
  --text-without-card: #9d9da0;
  --text-without-card-balance: #9d9da0;
  --expense-title: #272443;
  --expense-info: #68667b;
  --expense-detail: #68667b;
  --expense-detail-money: #f3f3f3;
  --detail-goal-title-color: #272443;
  --detail-goal-content-color: #272443;
  --detail-money-goal: #272443;
  --goal-title-color: #272443;
  --goal-money-color: #272443;
  --goal-icon-color: #272443;
  --goal-info-color: #272443;
  --home-total-money: #f3f3f3;
  --home-goal-label: #f3f3f3;
  --para-home-options: #9d9da0;
  --home-options-labels: #f3f3f3;
  --money-title: #272443;
  --money-info: #272443;
  --money-dots: #f3f3f3;
  --saving-main-title: #68667b;
  --saving-info: #f3f3f3;
  --saving-title: #68667b;
  --saving-daily: #f3f3f3;
  --saving-days-title: #68667b;
  --saving-days-left: #f3f3f3;
  --saving-edit-label-range: #68667b;
  --saving-edit-range-selected: #68667b;
  --saving-edit-selected-range: #f3f3f3;
  --entry-amount-text: #68667b;
  --entry-amount-detail: #f3f3f3;

  /* SWITCH */
  --switch-button-round: #f3f3f3;
  --switch-back-off: #e5e7ed;
  --switch-back-on: #9d9da0;

  /* INPUT */
  --color-input: #e5e7ed;
  --color-input-text: #272443;
  --color-input-label: #f3f3f3;
  --color-input-option-back: #f3f3f3;
  --color-input-option-font: #272443;

  /* TEXT AREA */
  --text-area-border-color: #68667b;
  --text-area-text-color: #272443;

  /* ALERT DIALOG */
  --alert-tile-color: #272443;
  --alert-container-color: #fff;
  --alert-footer-color: #1a191e;
  --alert-content-text-color: #272443;
  --alert-button-color-text: #fff;
  --alert-custom-label: #68667b;
  --alert-custom-label-money: #272443;

  /* TOAST */
  --toast-back-color: #1a191e;
  --toast-message-color: #fff;

  /* PROGRESSBAR */
  --progressbar-back-color: #68667b;
  --progressbar-main-color: #272443;

  /* CARDS */
  --card-back-color: #2a292e;
  --card-text-title-color: #f3f3f3;
  --card-content-text-color: #f3f3f3;
  --card-border-color: #2a292e;

  /* BUTTONS */
  --flat-button-color: #f3f3f3;
  --flat-button-color-text: #1a191d;
  --flat-button-active-color: #fff;
  --flat-button-light-color: #1a191e;
  --flat-button-light-color-text: #cdeaf7;
  --flat-button-light-active-color: #05565f;
  --fab-button: #000;
  --fab-button-text: #f3f3f3;
  --mini-button-back: #1a191d;
  --mini-button-font: #f3f3f3;
  --mini-button-light-back: #1a191e;
  --mini-button-light-font: #1a191e;
}

.logoLoadPage {
  animation-name: imageHomeLoader;
  animation-duration: 1s;
}

@keyframes imageHomeLoader {
  0% {
    transform: rotate(0);
    width: 0%;
  }

  100% {
    transform: rotate(360deg);
    width: 75%;
  }
}

.page__background {
  background: rgb(0 0 0);
  background: linear-gradient(180deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.labelToolbar {
  font-family: PoppinsFont, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--label-toolbar-color);
}

.menuButtonIcon {
  font-size: 26px;
  font-weight: bold;
  color: var(--menu-button-color);
}

.back-button,
.back-button__icon,
.back-button--material__icon {
  color: var(--back-button-color);
  fill: var(--back-button-color);
}

.card,
.card--material {
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
  padding: 0;

  background-color: var(--card-back-color);
  border: 2px solid var(--card-border-color);
  border-radius: 10px;
  box-shadow: none;
}

.card__title,
.card--material__title {
  margin: 0;
  padding: 16px;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  color: var(--card-text-title-color);
  text-align: left;
}

.card__content,
.card--material__content {
  padding: 0 16px 16px;
  font-size: 14px;
  color: var(--card-content-text-color);
  text-align: left;
}

ons-fab.fab--bottom__right {
  color: var(--fab-button-text);
  background: var(--fab-button);
}

ons-fab.fab--material {
  box-shadow: 0 2px 4px 0 rgb(5 6 8 / 20%);
}

.flatButton {
  display: block;

  width: auto;
  min-height: 50px;
  margin-right: 16px;
  margin-left: 16px;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  color: var(--flat-button-color-text);
  text-align: center;

  background: var(--flat-button-color);
  border-radius: 10px;
  box-shadow: none;
}

.flatButton:active {
  background: var(--flat-button-active-color);
}

.flatButtonLight {
  display: block;

  width: auto;
  min-height: 45px;
  margin-right: 16px;
  margin-left: 16px;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  color: var(--flat-button-light-color-text);
  text-align: center;

  background: var(--flat-button-light-color);
  border: 1px solid var(--text-area-border-color);
  border-radius: 10px;
  box-shadow: none;
}

.flatButtonLight:active {
  background: var(--flat-button-light-active-color);
}

.range__input,
.range--material__input {
  background-image: linear-gradient(var(--color-input), var(--color-input));
}

.text-input--underbar,
.text-input__label,
.text-input--material__label,
.text-input--underbar:invalid,
.text-input:invalid {
  top: 0;

  margin-top: 16px;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 18px;
  color: var(--color-input-text);
}

.text-input--material {
  height: 48px;
  margin-top: 16px;
  padding: 16px;

  font-size: 18px;
  color: var(--color-input-text);
  text-align: center;

  background: var(--color-input);
  border-radius: 10px;
}

.text-input--material:focus {
  background: var(--color-input);
  border: 1px solid var(--text-area-border-color);
}

select {
  display: block;

  width: 100%;
  height: 48px;
  margin-right: auto;
  margin-left: auto;

  font-size: 18px;
  color: var(--color-input-text);

  background: none;
  border: none;
  border: 2px solid var(--color-input);
  border-radius: 10px;
}

option {
  color: var(--color-input-option-font);
  background: var(--color-input-option-back);
}

.select-input--material {
  font-size: 18px;
  color: var(--color-input-text);
  text-align: center;
}

.textarea {
  width: 100%;
  margin: 0 auto;
  padding: 16px;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 18px;
  color: var(--text-area-text-color);

  background: var(--color-input);
  border: none;
  border-radius: 10px;
}

.textarea:focus {
  background: var(--color-input);
  border: 1px solid var(--text-area-border-color);
}

.alert-dialog,
.alert-dialog--material {
  width: 85%;
}

.alert-dialog-container,
.alert-dialog--material,
.alert-dialog-container--material {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  background-color: var(--alert-container-color);
  border-radius: 10px;
}

.alert-dialog,
.alert-dialog-title,
.alert-dialog-title--material {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  color: var(--alert-tile-color);
}

.alert-dialog-footer,
.alert-dialog-footer--material {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  background-color: var(--alert-footer-color);
}

.alert-dialog-content,
.alert-dialog-content--material {
  margin: 16px 0;
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  color: var(--alert-content-text-color);
  background-color: none;
}

.alert-dialog-button,
.alert-dialog-button--material {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  color: var(--alert-button-color-text);
}

.ons-toast .toast {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  border-radius: 10px 10px 0 0;
}

.toast,
.toast--material {
  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  background-color: var(--toast-back-color);
  border-radius: 10px 10px 0 0;
}

.toast__message,
.toast--material__message {
  margin: 0;

  font-family: PoppinsFont, Roboto, Noto, sans-serif;
  font-size: 18px;
  color: var(--toast-message-color);
  text-align: center;
}

.progress-bar--material.progress-bar--indeterminate::after,
.progress-bar--material.progress-bar--indeterminate::before {
  background-color: var(--spiner-front-color);
}

:checked + .radio-button--material__checkmark::after {
  background: var(--chevron-color);
}

:checked + .radio-button--material__checkmark::before {
  border: 2px solid var(--chevron-color);
}

.radio-button--material__checkmark::before {
  border: 1px solid var(--chevron-color);
}
