@font-face {
  font-family: PoppinsFont;
  src: url('../assets/fonts/normal/Poppins-Regular.ttf') format('truetype'),
       url('../assets/fonts/normal/poppins-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/normal/poppins-regular-webfont.woff') format('woff'); 
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: PoppinsFont;
  src: url('../assets/fonts/light/Poppins-Light.ttf') format('truetype'),
       url('../assets/fonts/light/poppins-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/light/poppins-light-webfont.woff') format('woff'); 
  font-weight: 100;
  font-style: normal;
} 

@font-face {
  font-family: PoppinsFont;
  src: url('../assets/fonts/bold/Poppins-Bold.ttf') format('truetype'),
       url('../assets/fonts/bold/poppins-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/bold/poppins-bold-webfont.woff') format('woff'); 
  font-weight: 800;
  font-style: normal;
} 

@font-face {
  font-family: PoppinsFont;
  src: url('../assets/fonts/semiBold/poppins-semibold-webfont.woff') format('truetype'),
       url('../assets/fonts/semiBold/poppins-semibold-webfont.woff2') format('woff2'),
       url('../assets/fonts/semiBold/poppins-semibold-webfont.woff') format('woff'); 
  font-weight: 600;
  font-style: normal;
} 

* {
  box-sizing: border-box;
  font-family: PoppinsFont, Roboto, Noto, 'sans-serif';
}

.theme-default {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #ffffff;
 
  /* DEGRADADO */
  --gradient-1: #FFFFFF;
  --gradient-2: #FFFFFF;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #E5E7ED;
  --spiner-front-color: #272443;

  /* ICONOS MENÚ & TEXTO MENU*/ 
  --icon-home: #272443;
  --icon-goals: #272443;
  --icon-savings: #272443;
  --icon-expenses: #272443;
  --icon-money: #272443;
  --icon-config: #272443;

  --menu-icon-color: #272443;
  --menu-font-color: #272443;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #272443;
  --back-button-color: #272443;
  --menu-button-color: #272443;

  /* CHEVRON */
  --chevron-color: #272443;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #272443;
  --text-without-card-balance: #68667B;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #272443;

  --detail-goal-title-color: #ffffff;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #272443;

  --goal-title-color: #272443;
  --goal-money-color: #272443;
  --goal-icon-color: #272443;
  --goal-info-color: #272443;

  --home-total-money: #272443;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #272443;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #272443;
  --saving-title: #9cd9ce;
  --saving-daily: #272443;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #272443;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #272443;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #272443;

  /* SWITCH */
  --switch-button-round: #272443;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #E5E7ED;
  --color-input-text: #272443;

  /* TEXT AREA */
  --text-area-border-color: #272443;
  --text-area-text-color: #272443;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  --alert-custom-label: #9cd9ce;
  --alert-custom-label-money: #272443;

  /* TOAST */
  --toast-back-color: #272443;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #68667B;
  --progressbar-main-color: #272443;

  /* CARDS */
  --card-back-color: #FFFFFF;
  --card-text-title-color: #272443;
  --card-content-text-color: #0596a6;
  --card-border-color: #E5E7ED;

  /* BUTTONS */
  --flat-button-color: #272443;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #272443;

  --flat-button-light-color: #ffffff;
  --flat-button-light-color-text: #272443;
  --flat-button-light-active-color: #05565f;
}

.logoLoadPage {
  animation-name: imageHomeLoader;
  animation-duration: 1s;
}

@keyframes imageHomeLoader {
  0% {
    width: 0%;
    transform: rotate(0);
  }
  100% {
    width: 75%;
    transform: rotate(360deg);
  }
}

.page--material {
  margin-top: 16px;
}

.page__background {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; 
}


.labelToolbar {
  font-family: 'PoppinsFont';
  color: var(--label-toolbar-color);
  font-size: 20px;
  font-weight: 600;
}

.menuButtonIcon {
  color: var(--menu-button-color);
  font-size: 26px;
  font-weight: bold;
}

.back-button,
.back-button__icon,
.back-button--material__icon {
  fill: var(--back-button-color);
  color: var(--back-button-color);
}

.card,
.card--material {
  border-radius: 10px;

  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border: 2px solid var(--card-border-color);

  background-color: var(--card-back-color);
}

.card__title,
.card--material__title {
  color: var(--card-text-title-color);

  padding: 16px 16px 16px 16px;
  margin: 0px;

  text-align: left;
}

.card__content,
.card--material__content {
  color: var(--card-content-text-color);

  padding: 0px 16px 16px 16px;

  text-align: left;
  font-size: 14px;
}

ons-fab.fab--bottom__right {
  background: var(--flat-button-color);
  color: var(--flat-button-color-text);
}

.flatButton {
  display: block;
  margin-left: 16px;
  margin-right: 16px;

  background: var(--flat-button-color);
  color: var(--flat-button-color-text);

  border-radius: 10px;
  box-shadow: none;

  font-size: 18px;
  font-weight: 400;
  text-align: center;

  line-height: 50px;
  min-height: 50px;
  width: auto;
}

.flatButton:active {
  background: var(--flat-button-active-color);
}

.flatButtonLight {
  display: block;
  margin-left: 16px;
  margin-right: 16px;

  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);
  border: 1px solid var(--text-area-border-color);

  border-radius: 10px;
  box-shadow: none;

  font-size: 18px;
  font-weight: 400;
  text-align: center;

  line-height: 45px;
  min-height: 45px;
  width: auto;
}

.flatButtonLight:active {
  background: var(--flat-button-light-active-color);
}

.range__input,
.range--material__input {
  background-image: linear-gradient(var(--color-input), var(--color-input));
}

.text-input--underbar,
.text-input__label,
.text-input--material__label,
.text-input--underbar:invalid,
.text-input:invalid {
  margin-top: 16px;
  font-size: 18px;
  color: var(--color-input-text);
  top: 0px;
}

.text-input--material {
  margin-top: 16px;
  padding: 16px;
  color: var(--color-input-text);
  font-size: 18px;
  text-align: center;

  border-radius: 10px;
  height: 48px;

  background: var(--color-input);
}

.text-input--material:focus {
  background: var(--color-input);
  border: 1px solid var(--text-area-border-color);
}

select {
  display: block;
  width: 100%;
  height: 48px;

  margin-left: auto;
  margin-right: auto;

  background: none;
  border: none;
  color: var(--color-input-text);
  font-size: 18px;
  border: 2px solid var(--color-input);
  border-radius: 10px;
}

option {
  color: var(--color-input-text);
  background: var(--card-back-color);
}

.select-input--material {
  color: var(--color-input-text);
  font-size: 18px;
  text-align: center;
}

.textarea {
  background: var(--color-input);;
  font-size: 18px;
  border-radius: 10px;
  color: var(--text-area-text-color);
  width: 100%;
  margin: 0px auto;
  border: none;
  padding: 16px;
}

.textarea:focus{
  background: var(--color-input);
  border: 1px solid var(--text-area-border-color);
}

.alert-dialog,
.alert-dialog-container,
.alert-dialog--material,
.alert-dialog-container--material {
  background-color: var(--alert-container-color);
  border-radius: 10px;
}

.alert-dialog-title,
.alert-dialog-title--material {
  color: var(--alert-tile-color);
}

.alert-dialog-footer,
.alert-dialog-footer--material {
  background-color: var(--alert-footer-color);
}

.alert-dialog-content,
.alert-dialog-content--material {
  background-color: none;
  color: var(--alert-content-text-color);
  margin: 16px 0 16px;
}

.alert-dialog-button,
.alert-dialog-button--material {
  color: var(--alert-button-color-text);
}

.ons-toast .toast {
  border-radius: 10px 10px 0px 0px;
}

.toast,
.toast--material {
  background-color: var(--toast-back-color);
  border-radius: 10px 10px 0px 0px;
}

.toast__message,
.toast--material__message {
  color: var(--toast-message-color);
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

.progress-bar--material.progress-bar--indeterminate:after,
.progress-bar--material.progress-bar--indeterminate:before {
  background-color: var(--spiner-front-color);
}

:checked + .radio-button--material__checkmark:after {
  background: var(--chevron-color);
}

:checked + .radio-button--material__checkmark:before {
  border: 2px solid var(--chevron-color);
}

.radio-button--material__checkmark:before {
  border: 1px solid var(--chevron-color);
}
/**/
