.input-color-container {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 40px;
  border: solid 2px #ddd;
  border-radius: 15px;
}

.customInput {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 60px;
  height: 56px;
  border: none;
}

.labelColorText {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--card-content-text-color);
}

.labelHeaderText {
  text-align: center;
  font-size: 18px;
  color: var(--card-text-title-color);
}

.list-header,
.list-header--material {
  background: transparent;
}
