.detailTitle {
  font-size: 24px;
  color: var(--detail-goal-title-color);
  text-align: center;
}

.detailInfo {
  color: var(--detail-goal-content-color);
  font-weight: normal;
  font-size: 16px;
}

.percentDetailTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 50px;
  text-align: center;
}

.percentBar {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.progressBarContainer {
  background-color: var(--progressbar-back-color);
  border-radius: 15px;
  padding: 1px;
  margin-top: 15px;
}

.progressBarPercent {
  background-color: var(--progressbar-main-color);
  width: calc(var(--width, 0) * 1%);
  min-width: 10px;
  max-width: calc(100% - 1px);
  height: 17px;
  border-radius: 15px;
}

.moneyDetailGoal {
  font-size: 20px;
  color: var(--detail-goal-title-color);
}
