* {
  box-sizing: border-box;
}

.theme-custom {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #ffffff;

  /* DEGRADADO */
  --gradient-1: #0d2840;
  --gradient-2: #113a5e;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #f5a11b;
  --spiner-front-color: #9cd9ce;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #1aff4c;
  --icon-money: #c0ff00;
  --icon-config: #acff0a;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #ffffff;
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;

  /* CHEVRON */
  --chevron-color: #f5a11b;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #9cd9ce;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #f5a11b;

  --detail-goal-title-color: #ffffff;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #f5a11b;

  --home-total-money: #f5a11b;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #f5a11b;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #f5a11b;
  --saving-title: #9cd9ce;
  --saving-daily: #f5a11b;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #f5a11b;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #f5a11b;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #f5a11b;

  /* SWITCH */
  --switch-button-round: #f5a11b;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #f5a11b;
  --color-input-text: #9cd9ce;

  /* TEXT AREA */
  --text-area-border-color: #f5a11b;
  --text-area-text-color: #9cd9ce;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  --alert-custom-label: #9cd9ce;
  --alert-custom-label-money: #f5a11b;

  /* TOAST */
  --toast-back-color: #f5a11b;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  /* CARDS */
  --card-back-color: #134068;
  --card-text-title-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  /* BUTTONS */
  --flat-button-color: #f5a11b;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #cc7e00;

  --flat-button-light-color: #0596a6;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #05565f;
}

.theme-pink {
  /* COLORES */
  --color: #ea0067;
  --color-2: #ea5172;
  --color-1: #f73395;
  --color-3: #f981be;
  --color-4: #fee3ef;
  --color-5: #f0f0f0;

  /* DEGRADADO */
  --gradient-1: #ea0067;
  --gradient-2: #f73395;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #fee3ef;
  --spiner-front-color: #f73395;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #ffffff;
  --icon-goals: #e60000;
  --icon-savings: #235dff;
  --icon-expenses: #00ff43;
  --icon-money: #002bff;
  --icon-config: #e0fb00;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #ea0067;
  --label-toolbar-color: #fee3ef;
  --back-button-color: #fee3ef;
  --menu-button-color: #fee3ef;

  /* CHEVRON */
  --chevron-color: #f981be;

  /* TEXTOS */
  --item-list-config: #fee3ef;
  --text-without-card: #fee3ef;

  --expense-title: #ffffff;
  --expense-info: #fee3ef;
  --expense-detail: #fee3ef;
  --expense-detail-money: #f0f0f0;

  --detail-goal-title-color: #f0f0f0;
  --detail-goal-content-color: #fee3ef;
  --detail-money-goal: #f981be;

  --home-total-money: #fee3ef;
  --home-goal-label: #fee3ef;
  --para-home-options: #fee3ef;
  --home-options-labels: #fee3ef;

  --money-title: #ffffff;
  --money-info: #fee3ef;
  --money-delete-button: crimson;

  --saving-main-title: #f0f0f0;
  --saving-info: #f981be;
  --saving-title: #f0f0f0;
  --saving-daily: #f981be;
  --saving-days-title: #f0f0f0;
  --saving-days-left: #f981be;

  --saving-edit-label-range: #fee3ef;
  --saving-edit-range-selected: #fee3ef;
  --saving-edit-selected-range: #f0f0f0;
  --entry-amount-text: #fee3ef;
  --entry-amount-detail: #f0f0f0;

  /* SWITCH */
  --switch-button-round: #ea0067;
  --switch-back-off: #ffffff;
  --switch-back-on: #fee3ef;

  /* INPUT */
  --color-input: #fee3ef;
  --color-input-text: #f0f0f0;

  /* TEXT AREA */
  --text-area-border-color: #fee3ef;
  --text-area-text-color: #f0f0f0;

  /* ALERT DIALOG */
  --alert-tile-color: #f0f0f0;
  --alert-container-color: #ea0067;
  --alert-footer-color: #ea5172;
  --alert-content-text-color: #f0f0f0;
  --alert-button-color-text: #fee3ef;

  --alert-custom-label: #fee3ef;
  --alert-custom-label-money: #f0f0f0;

  /* TOAST */
  --toast-back-color: #ea0067;
  --toast-message-color: #f0f0f0;

  /* PROGRESSBAR */
  --progressbar-back-color: #ea0067;
  --progressbar-main-color: #fee3ef;

  /* CARDS */
  --card-back-color: #f73395;
  --card-text-title-color: #f0f0f0;
  --card-content-text-color: #fee3ef;

  /* BUTTONS */
  --flat-button-color: #fee3ef;
  --flat-button-color-text: #ea0067;
  --flat-button-active-color: #fee3ef;

  --flat-button-light-color: #ea0067;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #ea0067;
}

.theme-yuri {
  /* COLORES */
  --color: #353535;
  --color-1: #284b63;
  --color-2: #3c6e71;
  --color-3: #d9d9d9;
  --color-4: #fffff0;
  --color-5: #f5353c;

  /* DEGRADADO */
  --gradient-1: #fffff0;
  --gradient-2: #d9d9d9;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #d9d9d9;
  --spiner-front-color: #284b63;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #919a00;
  --icon-money: #88b500;
  --icon-config: #ff0000;

  --menu-icon-color: #fffff0;
  --menu-font-color: #353535;

  /* TOOLBAR */
  --toolbar-color: #353535;
  --label-toolbar-color: #353535;
  --back-button-color: #284b63;
  --menu-button-color: #284b63;

  /* CHEVRON */
  --chevron-color: #f5353c;

  /* TEXTOS */
  --item-list-config: #3c6e71;
  --text-without-card: #3c6e71;

  --expense-title: #fffff0;
  --expense-info: #d9d9d9;
  --expense-detail: #d9d9d9;
  --expense-detail-money: #fffff0;

  --detail-goal-title-color: #fffff0;
  --detail-goal-content-color: #d9d9d9;
  --detail-money-goal: #d9d9d9;

  --home-total-money: #fffff0;
  --home-goal-label: #d9d9d9;
  --para-home-options: #353535;
  --home-options-labels: #d9d9d9;

  --money-title: #fffff0;
  --money-info: #d9d9d9;
  --money-delete-button: #3c6e71;

  --saving-main-title: #d9d9d9;
  --saving-info: #353535;
  --saving-title: #d9d9d9;
  --saving-daily: #353535;
  --saving-days-title: #d9d9d9;
  --saving-days-left: #fffff0;

  --saving-edit-label-range: #d9d9d9;
  --saving-edit-range-selected: #d9d9d9;
  --saving-edit-selected-range: #fffff0;
  --entry-amount-text: #d9d9d9;
  --entry-amount-detail: #fffff0;

  /* SWITCH */
  --switch-button-round: #353535;
  --switch-back-off: #3c6e71;
  --switch-back-on: #d9d9d9;

  /* INPUT */
  --color-input: #d9d9d9;
  --color-input-text: #fffff0;

  /* TEXT AREA */
  --text-area-border-color: #d9d9d9;
  --text-area-text-color: #fffff0;

  /* ALERT DIALOG */
  --alert-tile-color: #fffff0;
  --alert-container-color: #284b63;
  --alert-footer-color: #d9d9d9;
  --alert-content-text-color: #fffff0;
  --alert-button-color-text: #353535;

  --alert-custom-label: #d9d9d9;
  --alert-custom-label-money: #fffff0;

  /* TOAST */
  --toast-back-color: #284b63;
  --toast-message-color: #fffff0;

  /* PROGRESSBAR */
  --progressbar-back-color: #353535;
  --progressbar-main-color: #fffff0;

  /* CARDS */
  --card-back-color: #284b63;
  --card-text-title-color: #fffff0;
  --card-content-text-color: #d9d9d9;

  /* BUTTONS */
  --flat-button-color: #353535;
  --flat-button-color-text: #d9d9d9;
  --flat-button-active-color: #201e1e;

  --flat-button-light-color: #fffff0;
  --flat-button-light-color-text: #353535;
  --flat-button-light-active-color: #929292;
}

.theme-dark {
  /* COLORES */
  --color: #0a0c0d;
  --color-1: #453f41;
  --color-2: #f8f8f8;
  --color-3: #a2a1a1;
  --color-4: #a7553d;
  --color-5: #597889;

  /* DEGRADADO */
  --gradient-1: #0a0c0d;
  --gradient-2: #211c1d;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: crimson;
  --spiner-front-color: #453f41;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: crimson;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #1aff4c;
  --icon-money: #7aa200;
  --icon-config: #acff0a;

  --menu-icon-color: crimson;
  --menu-font-color: #f8f8f8;

  /* TOOLBAR */
  --toolbar-color: #0a0c0d;
  --label-toolbar-color: #f8f8f8;
  --back-button-color: #f8f8f8;
  --menu-button-color: #f8f8f8;

  /* CHEVRON */
  --chevron-color: #f8f8f8;

  /* TEXTOS */
  --item-list-config: #f8f8f8;
  --text-without-card: #f8f8f8;

  --expense-title: #f8f8f8;
  --expense-info: #a2a1a1;
  --expense-detail: #a2a1a1;
  --expense-detail-money: #f8f8f8;

  --detail-goal-title-color: #f8f8f8;
  --detail-goal-content-color: #a2a1a1;
  --detail-money-goal: #a2a1a1;

  --home-total-money: crimson;
  --home-goal-label: #f8f8f8;
  --para-home-options: #a2a1a1;
  --home-options-labels: #f8f8f8;

  --money-title: #f8f8f8;
  --money-info: #a2a1a1;
  --money-delete-button: crimson;

  --saving-main-title: #a2a1a1;
  --saving-info: crimson;
  --saving-title: #a2a1a1;
  --saving-daily: crimson;
  --saving-days-title: #a2a1a1;
  --saving-days-left: crimson;

  --saving-edit-label-range: #a2a1a1;
  --saving-edit-range-selected: #a2a1a1;
  --saving-edit-selected-range: #a2a1a1;
  --entry-amount-text: #a2a1a1;
  --entry-amount-detail: #a2a1a1;

  /* SWITCH */
  --switch-button-round: #0a0c0d;
  --switch-back-off: #f8f8f8;
  --switch-back-on: #a2a1a1;

  /* INPUT */
  --color-input: crimson;
  --color-input-text: #a2a1a1;

  /* TEXT AREA */
  --text-area-border-color: crimson;
  --text-area-text-color: #a2a1a1;

  /* ALERT DIALOG */
  --alert-tile-color: #f8f8f8;
  --alert-container-color: #0a0c0d;
  --alert-footer-color: #453f41;
  --alert-content-text-color: #f8f8f8;
  --alert-button-color-text: #f8f8f8;

  --alert-custom-label: #a2a1a1;
  --alert-custom-label-money: crimson;

  /* TOAST */
  --toast-back-color: crimson;
  --toast-message-color: #f8f8f8;

  /* PROGRESSBAR */
  --progressbar-back-color: #0a0c0d;
  --progressbar-main-color: crimson;

  /* CARDS */
  --card-back-color: #211f1f;
  --card-text-title-color: #f8f8f8;
  --card-content-text-color: #a2a1a1;

  /* BUTTONS */
  --flat-button-color: #f8f8f8;
  --flat-button-color-text: #0a0c0d;
  --flat-button-active-color: #858585;

  --flat-button-light-color: #0a0c0d;
  --flat-button-light-color-text: #f8f8f8;
  --flat-button-light-active-color: #7c7373;
}

.theme-light {
  /* COLORES */
  --color: #fafafa;
  --color-1: #bcc6d2;
  --color-2: #0e0f14;
  --color-3: #4e4f4e;
  --color-4: #698fac;

  /* DEGRADADO */
  --gradient-1: #f3f3f3;
  --gradient-2: #f3f3f3;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #0e0f14;
  --spiner-front-color: #bcc6d2;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: crimson;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #1aff4c;
  --icon-money: #7aa200;
  --icon-config: #acff0a;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #0e0f14;

  /* TOOLBAR */
  --toolbar-color: #fafafa;
  --label-toolbar-color: #0e0f14;
  --back-button-color: #0e0f14;
  --menu-button-color: #0e0f14;

  /* CHEVRON */
  --chevron-color: #0e0f14;

  /* TEXTOS */
  --item-list-config: #0e0f14;
  --text-without-card: #4e4f4e;

  --expense-title: #0e0f14;
  --expense-info: #0e0f14;
  --expense-detail: #0e0f14;
  --expense-detail-money: #698fac;

  --detail-goal-title-color: #0e0f14;
  --detail-goal-content-color: #4e4f4e;
  --detail-money-goal: #4e4f4e;

  --home-total-money: #0e0f14;
  --home-goal-label: #0e0f14;
  --para-home-options: #0e0f14;
  --home-options-labels: #0e0f14;

  --money-title: #0e0f14;
  --money-info: #4e4f4e;
  --money-delete-button: crimson;

  --saving-main-title: #0e0f14;
  --saving-info: #0596a6;
  --saving-title: #0e0f14;
  --saving-daily: #0596a6;
  --saving-days-title: #0e0f14;
  --saving-days-left: #0596a6;

  --saving-edit-label-range: #0e0f14;
  --saving-edit-range-selected: #0e0f14;
  --saving-edit-selected-range: #0596a6;
  --entry-amount-text: #0e0f14;
  --entry-amount-detail: #0596a6;

  /* SWITCH */
  --switch-button-round: #0596a6;
  --switch-back-off: #0596a6;
  --switch-back-on: #4e4f4e;

  /* INPUT */
  --color-input: #0596a6;
  --color-input-text: #4e4f4e;

  /* TEXT AREA */
  --text-area-border-color: #0596a6;
  --text-area-text-color: #4e4f4e;

  /* ALERT DIALOG */
  --alert-tile-color: #0e0f14;
  --alert-container-color: #fafafa;
  --alert-footer-color: #4e4f4e;
  --alert-content-text-color: #0e0f14;
  --alert-button-color-text: #fafafa;

  --alert-custom-label: #0e0f14;
  --alert-custom-label-money: #0596a6;

  /* TOAST */
  --toast-back-color: #0e0f14;
  --toast-message-color: #fafafa;

  /* PROGRESSBAR */
  --progressbar-back-color: #0e0f14;
  --progressbar-main-color: #bcc6d2;

  /* CARDS */
  --card-back-color: #fafafa;
  --card-text-title-color: #0e0f14;
  --card-content-text-color: #4e4f4e;

  /* BUTTONS */
  --flat-button-color: #4e4f4e;
  --flat-button-color-text: #fafafa;
  --flat-button-active-color: #4e4f4e;

  --flat-button-light-color: #0e0f14;
  --flat-button-light-color-text: #fafafa;
  --flat-button-light-active-color: #0596a6;
}

.theme-default {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #ffffff;

  /* DEGRADADO */
  --gradient-1: #0d2840;
  --gradient-2: #113a5e;

  /* SPINNER ONLOAD PAGE*/
  --spiner-back-color: #f5a11b;
  --spiner-front-color: #9cd9ce;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #1aff4c;
  --icon-money: #c0ff00;
  --icon-config: #acff0a;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #ffffff;
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;

  /* CHEVRON */
  --chevron-color: #f5a11b;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #9cd9ce;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #f5a11b;

  --detail-goal-title-color: #ffffff;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #f5a11b;

  --home-total-money: #f5a11b;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #f5a11b;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #f5a11b;
  --saving-title: #9cd9ce;
  --saving-daily: #f5a11b;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #f5a11b;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #f5a11b;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #f5a11b;

  /* SWITCH */
  --switch-button-round: #f5a11b;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #f5a11b;
  --color-input-text: #9cd9ce;

  /* TEXT AREA */
  --text-area-border-color: #f5a11b;
  --text-area-text-color: #9cd9ce;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  --alert-custom-label: #9cd9ce;
  --alert-custom-label-money: #f5a11b;

  /* TOAST */
  --toast-back-color: #f5a11b;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  /* CARDS */
  --card-back-color: #134068;
  --card-text-title-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  /* BUTTONS */
  --flat-button-color: #f5a11b;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #cc7e00;

  --flat-button-light-color: #0596a6;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #05565f;
}

.logoLoadPage {
  animation-name: imageHomeLoader;
  animation-duration: 1s;
}

@keyframes imageHomeLoader {
  0% {
    width: 0%;
    transform: rotate(0);
  }
  100% {
    width: 75%;
    transform: rotate(360deg);
  }
}

.page__background {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.labelToolbar {
  color: var(--label-toolbar-color);
  font-size: 25px;
}

.menuButtonIcon {
  color: var(--menu-button-color);
  font-size: 26px;
}

.back-button,
.back-button__icon,
.back-button--material__icon {
  fill: var(--back-button-color);
  color: var(--back-button-color);
}

.card,
.card--material {
  border-radius: 15px;

  padding: 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--card-back-color);
}

.card__title,
.card--material__title {
  color: var(--card-text-title-color);

  padding: 16px 16px 0px 16px;
  margin: 0px;

  text-align: left;
}

.card__content,
.card--material__content {
  color: var(--card-content-text-color);

  padding: 0px 16px 16px 16px;

  text-align: left;
  font-size: 14px;
}

ons-fab.fab--bottom__right {
  background: var(--flat-button-color);
  color: var(--flat-button-color-text);
}

.flatButton {
  display: block;
  margin-left: 16px;
  margin-right: 16px;

  background: var(--flat-button-color);
  color: var(--flat-button-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;
  text-align: center;

  line-height: 50px;
  min-height: 50px;
  width: auto;
}

.flatButton:active {
  background: var(--flat-button-active-color);
}

.flatButtonLight {
  display: block;
  margin-left: 16px;
  margin-right: 16px;

  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;
  text-align: center;

  line-height: 50px;
  min-height: 50px;
  width: auto;
}

.flatButtonLight:active {
  background: var(--flat-button-light-active-color);
}

.range__input,
.range--material__input {
  background-image: linear-gradient(var(--color-input), var(--color-input));
}

.text-input--underbar,
.text-input__label,
.text-input--material__label,
.text-input--underbar:invalid,
.text-input:invalid {
  margin-top: 16px;
  font-size: 18px;
  color: var(--color-input-text);
  top: 0px;
}

.text-input--material {
  margin-top: 16px;
  color: var(--color-input-text);
  font-size: 18px;
  text-align: center;

  border-radius: 15px;
  border: 2px solid var(--color-input);
  height: 48px;

  background-image: linear-gradient(to top, var(--color-input) 1px, var(--color-input) 1px);
}

select {
  display: block;
  width: 100%;
  height: 48px;

  margin-left: auto;
  margin-right: auto;

  background: none;
  border: none;
  color: var(--color-input-text);
  font-size: 18px;
  border: 2px solid var(--color-input);
  border-radius: 15px;
}

option {
  color: var(--color-input-text);
  background: var(--card-back-color);
}

.select-input--material {
  color: var(--color-input-text);
  font-size: 18px;
  text-align: center;
}

.textarea {
  background: none;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid var(--text-area-border-color);
  color: var(--text-area-text-color);
  width: 100%;
  margin: 0px auto;
}

.alert-dialog,
.alert-dialog-container,
.alert-dialog--material,
.alert-dialog-container--material {
  background-color: var(--alert-container-color);
  border-radius: 15px;
}

.alert-dialog-title,
.alert-dialog-title--material {
  color: var(--alert-tile-color);
}

.alert-dialog-footer,
.alert-dialog-footer--material {
  background-color: var(--alert-footer-color);
}

.alert-dialog-content,
.alert-dialog-content--material {
  background-color: none;
  color: var(--alert-content-text-color);
  margin: 16px 0 16px;
}

.alert-dialog-button,
.alert-dialog-button--material {
  color: var(--alert-button-color-text);
}

.ons-toast .toast {
  border-radius: 15px 15px 0px 0px;
}

.toast,
.toast--material {
  background-color: var(--toast-back-color);
  border-radius: 15px 15px 0px 0px;
}

.toast__message,
.toast--material__message {
  color: var(--toast-message-color);
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

.progress-bar--material.progress-bar--indeterminate:after,
.progress-bar--material.progress-bar--indeterminate:before {
  background-color: var(--spiner-front-color);
}

:checked + .radio-button--material__checkmark:after {
  background: var(--chevron-color);
}

:checked + .radio-button--material__checkmark:before {
  border: 2px solid var(--chevron-color);
}

.radio-button--material__checkmark:before {
  border: 1px solid var(--chevron-color);
}
/**/
